
#game{
    width: 600px;
    height: 600px;
    /* background-color: red; */
    /* position: relative; */
    margin-left: 450px;
    margin-top: 50px;
}
 #start{
    width: 600px;
    height: 600px;
    background: rgba(0,0,0,0.4);
    position: absolute;
    /* left: 100px;
    top: 230px; */
    /* border-radius: 6px 60; */
 } 
#start img{
    position: absolute;
    width: 350px;
    height: 100px;
    margin-left: 120px;
    margin-top: 200px;
    border-radius: 30px 30px 30px 30px;
    cursor: pointer;
    object-fit:cover;
} 
#start p{
    color: rgb(11, 17, 10);
    text-align: center;
    font-size: larger;
    font-weight: bold;
    margin-top: 350px;
}
.block{
    box-sizing: border-box;
    width: 25%;
    height: 25%;
    /* position: absolute; */
    border: 2px solid #ddd;
    float: left;
    background-color: #f0f0f0;
}
.block:hover {
    background-color: #2b84d0;
}
.pic{
    width: 100%;
    height: 100%;
    /* background-image: url("../images/1.png"); */
    background-repeat: no-repeat;
    background-position: center center;
    transform: scaleX(0);
    transition: transform .2s;
    /* background-size: cover; */
}

.block.on .pic{
    transform:scaleX(1);
}
#name{
    margin-left: 900px;
    margin-top: 10px;
    color: rgb(3, 51, 3);
    font-size: larger;
    font-weight: bold;
}

